BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

ColumnLimit: 120

AccessModifierOffset: -2
IndentWidth: 2
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: None
PointerAlignment: Right

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: true
  AfterOverloadedOperator: true

SortIncludes: Never
