Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,'
WarningsAsErrors: true
AnalyzeTemporaryDtors: true
CheckOptions:
    -key: cppcoreguidelines-avoid-do-while.IgnoreMacros
        value: true